
.link {
  color: white;
  font-weight: bold;
}
.activeLink {
  color: black;
}
.wrapperLinks {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: white;
  font-weight: 700;
  background-color: rgb(79, 49, 97);
  font-size: 30px;
}
